@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.typing-animation {
  display: inline-block;
  animation: typing 3s steps(40) infinite;
  overflow: hidden;
  white-space: nowrap;
}
